<section>
    <p>Name: {{detail.name}}</p>
    <p>Type: {{detail.type}}</p>
    <p>Language: {{detail.language}}</p>
    <p>Runtime: {{detail.runtime}}</p>
    <p>Premiered: {{detail.premiered}}</p>
    <p>Average Rating: {{detail.rating.average}}</p>
    <a href="{{detail.url}}">More details...</a>
    <br>
    <a href="/">Go Back!</a>
</section>